<div class="product-card">
  <div class="thumbnail">
    <img [src]="product.thumbnail" [alt]="product.title" />
  </div>
  <div class="product-details">
    <h2>{{ product.title }}</h2>
    <p class="brand">Brand: {{ product.brand }}</p>
    <p class="price">
      <span class="current-price"
        >{{ product.price.currency }} {{ product.price.current }}</span
      >
      @if(product.price.beforeDiscount > product.price.current) {
      <span class="before-discount"
        >{{ product.price.currency }} {{ product.price.beforeDiscount }}</span
      >
      } @if(product.price.discountPercentage > 0) {
      <span class="discount">
        ({{ product.price.discountPercentage }}% off)
      </span>
      }
    </p>
    <p class="rating">Rating: {{ product.rating }} / 5</p>
    <p class="stock" [ngClass]="{ 'out-of-stock': product.stock === 0 }">
      {{ product.stock > 0 ? product.stock + " in stock" : "Out of stock" }}
    </p>
    <button
      class="add-to-cart-btn"
      [disabled]="product.stock === 0"
      (click)="addToCart(product)"
    >
      Add to Cart
    </button>
  </div>
</div>
