<div class="main-container">
  <div class="mac-section">
    <div class="img-container">
      <img src="assets/images/macbook.jpg" alt="" />
    </div>
    <div class="title-section">
      <h1>MacBook Air</h1>
      <h3>Learn. Mean. M3 machiine</h3>
      <a href="">Learn More</a>
    </div>
  </div>
  <div class="watch-section">
    <div class="title-section" style="color: #fff">
      <h1>Watch</h1>
      <h5 style="letter-spacing: 4px; color: red">SERIES 9</h5>
      <h4 style="font-size: 1.3rem">Snart. Brighter. Mightier</h4>
      <a href="">Learn More</a>
    </div>
    <div class="img-container">
      <img src="assets/images/watch.png" alt="" />
    </div>
  </div>
</div>
